/* colors */

:root
{
	--yellow: #FFECD1;
	--orange: #DE8C3C;
	--brown: #3D1508;
	
	--light-gray: #AAAAAA;
	--dark-gray: #666666;
	
	--light-green: #6EFF92;
}

/* font */

@font-face
{
	font-family: 'hamletOsf';
	src: url(../fonts/hamletOsf.ttf);
}

/* everything */

*
{
	font-family: hamletOsf;
 	font-size: 18px;
 	
 	margin: 0px;
 	padding: 0px;
 	list-style: none;
 	text-decoration: none;
 	
 	color: var(--brown);
	border-radius: 4px;
	
	box-sizing: border-box;
}

/* body*/

body
{
	margin: 20px;
	
	background-color: var(--yellow);
}

/* h tags */

h1, h2, h3
{
	font-weight: 1000;
}

h1
{
	font-size: 54px;	
}

h2
{
	font-size: 27px;
}

h3
{
	font-size: 20px;
}

/* misc stuff */

input[type=text], input[type=password], input[type=number]
{
	padding: 4px 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number]
{
 	-moz-appearance: textfield;
}

button
{  	   	
  	padding: 4px 8px;
  	border: none;
	
	white-space: nowrap;
	
  	background-color: var(--orange);
	
	transition-duration: 0.2s;
  	cursor: pointer;  	
}

button:hover
{
  	filter: brightness(70%);
}

button:disabled
{
	cursor: default;
	
	background-color: var(--light-gray);
	color: var(--dark-gray);
	
	filter: brightness(100%);
}

hr
{
	margin: 15px 0px;
}