/* colors */

:root
{
	--yellow: #FFECD1;
	--orange: #DE8C3C;
	--brown: #3D1508;
	
	--light-gray: #BBBBBB;
	--dark-gray: #666666;
	
	--light-green: #6EFF92;
	--green: #00FF40;
	
	--brown-filter: invert(11%) sepia(14%) saturate(5308%) hue-rotate(345deg) brightness(100%) contrast(99%);
	--light-brown-filter: invert(11%) sepia(14%) saturate(5308%) hue-rotate(345deg) brightness(180%) contrast(99%);
}

/* font */

@font-face
{
	font-family: 'hamletOsf';
	src: url(../fonts/hamletOsf.ttf);
}

/* everything */

*
{
	font-family: hamletOsf;
 	font-size: 18px;
 	
 	box-sizing: border-box;	
 	
 	margin: 0px;
 	padding: 0px;
 	
 	color: var(--brown); 	
}

/* body */

body
{
	margin: 15px;
	
	background-color: var(--yellow);
}

/* header */

body header
{	
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body header span
{	
	display: flex;
  	align-items: center;
	
	transition-duration: 0.2s;
	cursor: pointer;
}

body header span:hover
{
	filter: brightness(115%);
}

body header span img
{
	min-width: 140px;
	width: 140px;
	
	margin-right: 20px;
}

body header span h1
{
	cursor: pointer;
}

body header > div
{	
	display: flex;
	align-items: center;
	
	margin-left: 100px;
}

body header div img
{
	width: 50px;
	height: 50px;
	
	margin-right: 20px;
	
	transition-duration: 0.2s;
	cursor: pointer;
	
	filter: var(--brown-filter);
}

body header div img:hover
{	
	filter: var(--light-brown-filter);
}

body header div div
{
	display: flex;
	flex-direction: column;
}

body header div div button + button
{
	margin-top: 4px;
}

/* h tags */

h1, h2, h3
{
	font-weight: 1000;
}

h1
{
	font-size: 54px;	
}

h2
{
	font-size: 27px;
}

h3
{
	font-size: 20px;
}

/* misc stuff */

input[type=text], input[type=password]
{
	padding: 4px 6px;
	border-radius: 4px;
}

/* button */

button
{  	   	
  	padding: 4px 8px;
  	border: none;
	border-radius: 4px;
	
	white-space: nowrap;
	
  	background-color: var(--orange);
	
	transition-duration: 0.2s;
  	cursor: pointer;  	
}

button:hover
{
  	filter: brightness(70%);
}

button:disabled
{
	cursor: default;
	
	background-color: var(--light-gray);
	color: var(--dark-gray);
	
	filter: brightness(100%);
}

/* hr */

hr
{
	margin: 15px 0px;
}