*
{
   font-family: Arial !important;
}

body
{
	padding: 10px 10px;	
	background-color: #FFECD1;
}

button
{  	
  	transition-duration: 0.2s;
  	cursor: pointer;
  	border: none;
  	border-radius: 4px;
  	background-color: #E5913E; 
  	color: #2E0F05;  	
}

button:hover
{
  	filter: brightness(70%);
}

hr
{
	color: #2E0F05;
	margin-top: 15px;
	margin-bottom: 15px;
}

label
{
	color: #2E0F05;
}