.filmDataContainer
{	
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}

.posterItem
{
	grid-row-start: 1;
	grid-row-end: 10;
}

.multiple
{
	display: flex;
	flex-direction: column;	
}

.multiple label
{
	margin: 0px 0px 4px 0px;
}