div.filmDetailsContainer
{	
	max-width: 800px;
	
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px;
}

div.filmDetailsContainer > img.posterItem
{
	grid-row-start: 1;
	grid-row-end: 10;
}

div.filmDetailsContainer > div.actorSection
{
	display: flex;
	flex-direction: column;	
}

div.filmDetailsContainer > div.actorSection label + label
{
	margin-top: 4px;
}

/*************************************************/

@media only screen (-moz-min-device-pixel-ratio: 2), 
	   only screen and (-o-min-device-pixel-ratio: 2/1), 
	   only screen and (-webkit-min-device-pixel-ratio: 2), 
	   only screen and (min-device-pixel-ratio: 2)
{
	div.filmDetailsContainer
	{	
		grid-template-columns: auto auto;
	}
	
	div.filmDetailsContainer > img.posterItem
	{
		display: none;
	}
}