#filtroForm
{
	width: 300px;
}

#loginForm, #regisForm
{
	width: 25%;	
	min-width: 300px;
	max-width: 500px;
	
	margin: 100px auto;
}

#filtroForm input, #loginForm input, #regisForm input
{
	width: 100%;
	
	margin: 2px 0px;
}

#filtroForm button, #loginForm button, #regisForm button
{
	width: 100%;
}

#regisForm span
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin: 6px 4px;
}

#regisForm span input
{
	width: 1px;
}