#filtreForm
{
	width: 300px;
}

#loginForm, #registrationForm
{
	width: 25%;	
	min-width: 300px;
	max-width: 500px;
	
	margin: 100px auto;
}

#filtreForm input, #loginForm input, #registrationForm input
{
	width: 100%;
	
	display: block;
	
	margin: 0px 0px 4px 0px;
}

#filtreForm button, #loginForm button, #registrationForm button
{
	width: 100%;
	
	display: block;
}

#registrationForm span
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	margin: 6px 4px;
}

#registrationForm span input
{
	width: 1px;
}