header
{
	display: table;
	width: 100%;
}

header span
{
	display: inline-flex;
  	align-items: center;
	
	transition-duration: 0.2s;
	cursor: pointer;
}

header span:hover
{
	filter: brightness(115%);
}

header span img
{
	width: 112px;
	height: 106px;
	
	padding-right: 20px;
}

header span h1
{
	font-size: 40px;
	font-weight: 1000;
	
	white-space: nowrap;
	
	cursor: pointer;
}

header table
{
	display: table-cell;
	vertical-align: middle;
	width: 1px;
}

header div
{	
	width: 1px;
	display: table-cell;
	vertical-align: middle;
}

header div button
{
	display: block;	
	margin: 3px;
}