.darkBrown
{
  	color: #2E0F05; 
}

.brown
{
	color: #995A26;
}

.maxWidth
{
	width: 100%;
}

.halfHeight
{
	height: 50%;
}

.maxDims
{
	width: 100%;
	height: 100%;
}

.medFont
{
	font-size: 20px;
}

.bigFont
{
	font-size: 25px;
}