.optionsList
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
}

.optionsList *
{
	width: 100%;
}

.optionsList * + *
{
	margin-top: 4px;
}

.optionsList span
{
	display: flex;
	justify-content: space-between;
}