.optionsList
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
}

.optionsList *
{
	width: 100%;
	margin: 2px;
}

.optionsList span
{
	display: flex;
	justify-content: space-between;
}