.optionsList
{
	width: 300px;
	
	display: flex;
	flex-direction: column;
}

.optionsList > *
{
	width: 100%;
}

.optionsList > * + *
{
	margin-top: 4px;
}

/**********************************************/

.optionsList > span
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/**********************************************/

.optionsList > span.passwordSpan input
{
	width: 100%;
}

.optionsList > span.passwordSpan img
{
	margin: 0px 5px;
}

/**********************************************/

.optionsList > span.checkboxSpan
{
	margin: 5px 3px;
}

.optionsList > span.checkboxSpan input
{
	margin: 0px 5px;
}

/**********************************************/

.optionsList > span.euroSpan input
{
	width: 100%;
}

.optionsList > span.euroSpan label
{
	margin: 0px 5px;
}