div.areaBody
{
	display: flex;
}

div.areaBody > hr
{
	margin: 0px 15px;
}

div.areaBody > div
{
	display: flex;
	flex-direction: column;
	
	max-height: 740px;
}

span.buttonList
{
	display: flex;
	justify-content: space-between;
	
	margin-top: 20px;
}

span.buttonList button
{
	width: 100%;
}

span.buttonList button + button
{
	margin-left: 1%;
}

/*************************************************/

@media only screen (-moz-min-device-pixel-ratio: 2), 
	   only screen and (-o-min-device-pixel-ratio: 2/1), 
	   only screen and (-webkit-min-device-pixel-ratio: 2), 
	   only screen and (min-device-pixel-ratio: 2)
{	
	div.areaBody
	{
		flex-direction: column;
	}

	div.areaBody > hr
	{
		margin: 15px 0px;
	}
}