img.presPoster
{
	width: 315px;
	height: 450px;
  	cursor: pointer;
  	padding: 2px;
  	border: 1px solid #2E0F05;  	
  	border-radius: 4px;
  	transition-duration: 0.2s;
  	margin: 5px;
}

img.presPoster:hover
{
	filter: brightness(130%);
}

img.poster
{
	width: 315px;
	height: 450px;
	border: 1px solid #2E0F05;
  	border-radius: 4px;
}