.presPoster
{
	width: 315px;
	height: 450px;
  	cursor: pointer;
  	border-radius: 4px;
  	transition-duration: 0.2s;
  	margin: 5px;
}

.presPoster:hover
{
	filter: brightness(150%);
}

.poster
{
	width: 315px;
	height: 450px;
  	border-radius: 4px;
}