table.projectionRoom
{
	width: 100%;
	
	padding: 5px 2px 0px 2px;
	border: 1px solid var(--brown);
	border-radius: 4px;
	
	background-color: white;
}

table.projectionRoom img
{
	width: 32px;
	height: 25px;
	
	margin: 2px 5px;
	
	cursor: pointer;
}