table.room
{
	width: 100%;
	
	padding: 5px 2px 0px 2px;
	border: 1px solid var(--brown);
	border-radius: 4px;
	
	background-color: white;
}

table.room img
{
	width: 32px;
	height: 25px;
	
	margin: 2px 5px;
	
	cursor: pointer;
}

/*************************************************/

@media only screen (-moz-min-device-pixel-ratio: 2), 
	   only screen and (-o-min-device-pixel-ratio: 2/1), 
	   only screen and (-webkit-min-device-pixel-ratio: 2), 
	   only screen and (min-device-pixel-ratio: 2)
{
	table.room
	{		
		padding: 7px 3px 0px 3px;
	}
	
	table.room img
	{
		width: 48px;
		height: 37px;
		
		margin: 3px 7px;
	}
}