table.table
{	
	padding: 4px;

	border-radius: 4px;
    
    text-align: left;
    
    background-color: var(--orange);
}

table.smallTable
{
	max-width: 500px;
}

table.smallTable tbody
{
	max-height: 500px;
}

table.bigTable 
{
	min-width: 700px;
}

table.bigTable tbody
{
	max-height: 700px;
}

table.table thead
{    
	width: calc(100% - 0.4em);

	margin-bottom: 5px;

	display: table;

	table-layout: fixed;
}

table.table tbody
{
	min-height: 27px;
	
	display: block;
	
	overflow: auto;
	
	border-radius: 4px;
	
	scrollbar-width: thin;
	
	background-color: white;
}

table.table tbody tr
{
	width: 100%;

	display: table;

	table-layout: fixed;
	
	border: 1px solid var(--light-gray);
	border-style: none none solid none;
}

table.table tbody tr:hover
{	
	background-color: var(--light-green);
}

table.table tbody tr.selected
{
	background-color: var(--green);
}

table.handable tbody tr:hover
{		
	cursor: pointer;
}

/*************************************************/

@media only screen (-moz-min-device-pixel-ratio: 2), 
	   only screen and (-o-min-device-pixel-ratio: 2/1), 
	   only screen and (-webkit-min-device-pixel-ratio: 2), 
	   only screen and (min-device-pixel-ratio: 2)
{
	table.table
	{	
		padding: 8px;
		
		border-radius: 8px;
	}
	
	table.table tbody
	{
		min-height: 45px;
	}
}