table.table
{
    width:100%;
    
	border: none;/*1px solid #2E0F05;*/
    
    text-align: left;
    
    background-color: var(--orange);
}

table.table thead
{    
	width: calc(100% - 1em);

	display: table;

	table-layout: fixed;
}

table.table tbody
{
	height: 150px;

	display: block;
	overflow: auto;
	
	border: none;/*1px solid #2E0F05;*/
	
	background-color: white;
}

table.table tbody tr
{
	width: 100%;

	display: table;

	table-layout: fixed;
	
	border: 1px solid var(--light-gray);
	border-style: none none solid none;
}

table.table tbody tr:hover
{	
	background-color: var(--light-green);
	
	cursor: pointer;
}

table.table tr.selected
{
	background-color: #00FF40;
}