table.table
{	
	padding: 4px;

	border-radius: 4px;
    
    text-align: left;
    
    background-color: var(--orange);
}

table.table thead
{    
	width: calc(100% - 0.5em);

	padding-bottom: 4px;

	display: table;

	table-layout: fixed;
}

table.table tbody
{
	display: block;
	
	overflow: auto;
	
	border-radius: 4px;
	
	background-color: white;
}

table.table tbody tr
{
	width: 100%;

	display: table;

	table-layout: fixed;
	
	border: 1px solid var(--light-gray);
	border-style: none none solid none;
}

table.table tbody tr:hover
{	
	background-color: var(--light-green);
}

table.table tbody tr.selected
{
	background-color: var(--green);
}

table.handable tbody tr:hover
{		
	cursor: pointer;
}